* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background: linear-gradient(to right, #bad38d, #619299);
}

body ul {
    list-style: none;
}

:root {
    --main-clr: #273d30;
}

.quiz {
    background-color: red;
    min-height: 35rem;
    width: 60rem;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 2rem;
}

.quiz_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

.quiz_header-timer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.quiz_header-timer i {
    font-size: 2rem;
}

.timer_content {}

.timer_content>span {
    font-size: 0.8rem;
    color: #232323e2;
}

.timer_content>p {
    font-size: 1.3rem;
    font-weight: bold;
    word-wrap: break-word;

}


#quiz_header-btnSubmit {
    padding: 10px;
    width: 8rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--main-clr);
    color: white;
    transition: 0.5s;
}

#quiz_header-btnSubmit:hover {
    transform: scale(1.2, 1.2);
}

.quiz_body {
    display: flex;
    justify-content: space-between;

}

.content_question {
    display: flex;
    flex-direction: column;
    width: 40rem;
}

.content_question p {
    font-weight: bold;
    font-size: small;
}

.content_question h5 {
    font-size: 1rem;
    word-wrap: break-word;
}

.content_question-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100px;
    padding-bottom: 10px;
}

.content_question ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.content_question li {
    width: 40%;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.214);
    word-wrap: break-word;
    display: flex;
    gap: 1rem;
    font-weight: 500;
}

.content_question li:hover {
    transform: scale(1.1);
    background-color: var(--main-clr);
    color: white;
    transition: 0.5s;

}


.content_question li.active {
    background-color: var(--main-clr);
    color: white;

}

.content_question li.incorrect {
    background-color: red;
    color: white;
}

.option-item {}

.content_progress {
    position: relative;
    width: 300px;
    margin-top: 4rem;
}

.content_progress svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}


.content_progress svg circle {
    position: absolute;
    transform: translate(50%, 50%);
    fill: none;
    stroke: #ddd;
    stroke-width: 10px;
}

#progress {
    stroke: var(--main-clr);
    stroke-dasharray: 300 9999;
    transition: 0.5s;
}

.content_progress h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-clr);
}



.quiz_number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-top: 4rem;
    gap: 1rem;

}

.quiz_number ul {
    display: flex;
    gap: 1.2rem;
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
ul::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
ul {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.quiz_number ul li {
    width: 3rem;
    padding: 10px;
    flex-shrink: 0;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.084);
    border-radius: 10px;
    transition: 0.5s;
}

.quiz_number ul li.active {
    border: 2px solid var(--main-clr);
}


.quiz_number ul li.selected {
    background-color: var(--main-clr);
    color: white;
}


.quiz_number ul li.incorrect {
    background-color: red;
    color: white;
}

.quiz_number button {
    width: 90px;
    padding: 12px;
    border: 2px solid rgba(0, 0, 0, 0.084);
    border-radius: 10px;
    background-color: white;
    transition: 0.5s;
}

.quiz_number button:hover {
    background-color: var(--main-clr);
    color: white;
}